/node_modules
/public/hot
/public/uploads/*
/public/storage
/storage/*.key
/vendor
/storage/installed
/docker/*
/.idea/*
.idea/workspace.xml
/.idea/workspace.xml
.idea/*
.DS_Store
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
